header {
  background-color: #06151a;
  padding: 32px 0;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
}

section {
  background: linear-gradient(180deg, #17e4b9 0%, #091d24 100%, #0e695d 62%);
  display: flex;
  justify-content: center;
}

section img {
  max-width: 90%;
}
