header {
  background-color: #06151a;
  padding: 32px 0;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
}

.container {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
}
.eventos {
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
}
