header {
  background-color: #06151a;
  padding: 32px 0;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
}

section {
  background: linear-gradient(180deg, #17e4b9 0%, #091d24 100%, #0e695d 62%);
  display: flex;
  justify-content: center;
}

section img {
  max-width: 90%;
}

.form-evento {
  background-color: #212121;
  padding: 32px 28px;
  color: #ffffff;
  border-radius: 16px;
  width: 384px;
  max-width: 90%;
  margin: 0 auto;
}
